name: Release VS Code Extension

on:
  push:
    branches: [main, stable]
    paths:
      - 'apps/vscode-extension/**'
      - '!apps/vscode-extension/*.md'

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: tibdex/github-app-token@v2
        with:
          app_id: ${{ secrets.GH_APP_ID }}
          private_key: ${{ secrets.GH_APP_PRIVATE_KEY }}

      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}

      - name: Setup pnpm
        uses: pnpm/action-setup@v4

      - name: Setup Node
        uses: actions/setup-node@v6
        with:
          node-version-file: '.nvmrc'
          cache: 'pnpm'

      - name: Install dependencies
        run: pnpm install --frozen-lockfile

      - name: Build
        run: pnpm run build
        working-directory: apps/vscode-extension

      - name: Release
        run: pnpx semantic-release
        working-directory: apps/vscode-extension
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
          LINEAR_TOKEN: ${{ secrets.LINEAR_TOKEN }}
