name: Release VS Code Extension

on:
  push:
    branches: [main, stable]
    paths:
      - 'apps/vscode-extension/**'
      - '!apps/vscode-extension/*.md'

permissions:
  contents: write
  packages: write

jobs:
  release:
    runs-on: ubuntu-latest
    steps:
      - name: Generate token
        id: generate_token
        uses: actions/create-github-app-token@v2
        with:
          app-id: ${{ secrets.APP_ID }}
          private-key: ${{ secrets.APP_PRIVATE_KEY }}

      - uses: actions/checkout@v6
        with:
          fetch-depth: 0
          token: ${{ steps.generate_token.outputs.token }}

      - uses: pnpm/action-setup@v4

      - uses: actions/setup-node@v6
        with:
          node-version-file: .nvmrc
          cache: pnpm
          registry-url: 'https://registry.npmjs.org'

      - name: Install dependencies
        run: pnpm install

      - name: Build
        run: pnpm run build
        working-directory: apps/vscode-extension

      - name: Release
        run: pnpx semantic-release
        working-directory: apps/vscode-extension
        env:
          GITHUB_TOKEN: ${{ steps.generate_token.outputs.token }}
          VSCE_PAT: ${{ secrets.VSCE_PAT }}
          LINEAR_TOKEN: ${{ secrets.LINEAR_TOKEN }}
